@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: rgb(241, 222, 111);
}

.padd-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.btn {
  display: inline-block;
  padding: 15px 40px;
  margin-top: 10px;
  font-size: 1.1rem;
  text-transform: uppercase;
  background: #111;
  color: #eee;
  border-radius: 5px;
  transition: background 500ms ease;
}

.btn:hover {
  cursor: pointer;
  background: rgb(241, 222, 111);
  color: #111;
}

.headline {
  font-size: 2.2rem;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  padding-bottom: 50px;
  letter-spacing: 2px;
}

/* Navbar */

#navbar {
  width: 100%;
  height: 80px;
  background: rgba(17, 17, 17, 0.952);
  color: #eee;
  position: fixed;
  justify-content: center;
  align-items: center;
}

#navbar-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#navbar-items li {
  margin-right: 20px;
  padding: 10px;
}

.logo {
  font-size: 2rem;
}

#navbar-items {
  display: flex;
  list-style: none;
  text-transform: uppercase;
}

/* Showcase */

#showcase {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eee;
  background: url("/img/showcase.jpg") no-repeat center center/cover;

  /* Overlay */
  background-color: rgb(0, 0, 0, 0.4);
  background-blend-mode: color;
}

#showcase-container {
  text-align: center;
}

#showcase-container h2 {
  font-size: 2.5rem;
}

#showcase-container p {
  font-size: 1.2rem;
  padding: 7px 0;
}

/* About */

#features {
  width: 100%;
  background: #222;
  color: #eee;
  padding: 50px;
}

#features-container {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 50px;
}

.features {
  display: flex;
  flex-direction: column;
  background: #333;
  padding: 20px;
  border-radius: 5px;
}

.feature-title {
  font-size: 1.5rem;
  font-weight: bold;
}

#about-me {
  width: 100%;
  padding: 50px;
}

#about-me-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#items {
  width: 650px;
}

#items .item {
  display: flex;
  padding: 10px;
  margin: 15px 0;
  font-size: 1.5rem;
  text-align: justify;
  justify-content: right;
  background: #eeeeee;
  line-height: 40px;
  font-size: 23px;
}

.ab-me {
  padding: 5px;
  margin-right: 100px;
  max-width: 200px;
  border-radius: 20px;
}

.home-info {
  flex: 0 0 60%;
  max-width: 100%;
}

h3.hello {
  font-size: 28px;
  margin: 15px 0;
}

h3.hello span {
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: rgb(241, 222, 111);
}

h3.my-profession {
  font-size: 30px;
  margin: 15px 0;
}

.typing {
  color: rgb(241, 222, 111);
}

.home-info p {
  margin-bottom: 70px;
  font-size: 20px;
}

/* Skills */

#skill-container {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 50px;
  padding-left: 50px;
  padding-right: 50px;
}

.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: auto;
  margin: auto;
  flex-direction: column;
}
.container {
  width: 100%;
  padding: 30px 30px 50px;
  border: 2px solid rgba(255, 255, 255, 0.06);
  border-radius: 10px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}
.container * {
  font-family: "Poppins", sans-serif;
  color: rgb(255, 253, 253);
  font-weight: 500;
}
.skills:not(:last-child) {
  margin-bottom: 30px;
}
.details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.bar {
  border: 2px solid rgb(241, 222, 111);

  border-radius: 20px;
}
.bar div {
  width: 0;
  height: 10px;
  border-radius: 10px;
  background-color: rgb(241, 222, 111);
}
#html-bar {
  animation: html-fill 2s forwards;
}
@keyframes html-fill {
  100% {
    width: 80%;
  }
}
#css-bar {
  animation: css-fill 2s forwards;
}
@keyframes css-fill {
  100% {
    width: 75%;
  }
}
#js-bar {
  animation: js-fill 2s forwards;
}
@keyframes js-fill {
  100% {
    width: 72%;
  }
}
#react-bar {
  animation: react-fill 2s forwards;
}
@keyframes react-fill {
  100% {
    width: 68%;
  }
}
#python-bar {
  animation: python-fill 2s forwards;
}
@keyframes python-fill {
  100% {
    width: 80%;
  }
}
#mysql-bar {
  animation: mysql-fill 2s forwards;
}
@keyframes mysql-fill {
  100% {
    width: 75%;
  }
}
#ts-bar {
  animation: ts-fill 2s forwards;
}
@keyframes ts-fill {
  100% {
    width: 60%;
  }
}
#cplus-bar {
  animation: cplus-fill 2s forwards;
}
@keyframes cplus-fill {
  100% {
    width: 60%;
  }
}

/* Gallery */

#projects {
  width: 90%;
  margin: auto;
  padding: 50px;
}

#projects-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  justify-items: center;
}

.projects-image {
  display: inline;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

/* Footer */

